

    .div-home{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    
    }

    .home{
        overflow-x: hidden;
        height: auto;
        width: 100vw;

    }



   

 
