.header{
position:static;
width: 100vw;
display: flex;
flex-direction:row;
z-index:10;
width: 100vw;
height: 10vh;
background-color:#ffd427;
}

/* box-shadow: 0.08em 0.08em 1.5em 0.03em #a4a4a4;*/

.menu{
width: 94%;
padding-left: 2.5vw;
padding-right: 2vw;
height:auto;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
position:static;


}

.logo img
{
width: 135px;
height: 65px;
cursor: pointer;


}



.div-list{

width: 45vw;

}

.div-list button{
width:130px;
height:40px;
margin-left: 15px;
border-radius:10px;
background-color:#00b300;
color:white;
font-size:1.9em;
animation: click 2s ease-in-out infinite;
cursor:pointer;
font-weight:bold;
}

  @keyframes click{
   0%,100%{
  
  scale: 87%;
  
    }
    50%{
        
        scale:100%;
    
    }
    
    }

.div-list ul{
display: flex;
align-items: center;
flex-direction: row;
font-weight:500;
justify-content: space-around;
}






.item-menu{
font-size:2.5em;
text-decoration:none;
color: #6b1b6f; 
margin-left: 30px;

}

 .item-menu:hover{
color:#fff;
}


.divlogo
{
display: flex;
align-items: center;
width: 30vw;
justify-content: start;

}








.mobile-menu
{
display: none;
cursor: pointer;
font-size: 4.5em;
color:rgb(107, 27, 111);
margin-right: 5vw;
}

.mobile-menu:hover{
color:#fff;
}

.mobile-menu:active{
color:#fff;
}


@media (max-width:600px){

  .menu{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
   

  }

#item-menu{
  display:none;
}

 .mobile-menu
{
display: flex;
margin-right:60px;
}

.div-list button{
display:none;
}


.item-menu{
  font-size:1.65em;
  margin-left: 15px;
  font-weight: bold;
  
  }
  

  .logo img
  {
  width: 100px;
  height: 70px;
  cursor: pointer;
  
  
  }

  .div-list{
    
    width: 70vw;
    
    }
   
}
