   
    .banner2{
    width: 100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content:center;
     box-shadow: 1px 1px 10px 10px #2c003b;
    }
     
   
   

    .banner2-2{
    width:100%;
    height: 100%;
   
    
    }


    .texto{
    position:absolute;
    right:100px;
    width:38vw;
    height: 92vh;
    font-size:2em;
    text-align:start;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
     align-items: start;
     color:white;
     letter-spacing: 1px;

    }

    .texto h2{
    color:#2c003b;
    font-size:2.1em;
    opacity:0.7;
    letter-spacing: 1.3px;
    }


     @media (max-width:600px){

        .banner2{
        height: 75vh;
        z-index:8;
        }

        .banner2-2{
            width:150vw;
            margin-left:30vw;
            height: 100%;
            
         }

    .texto{
        position:absolute;
        right:30px;
        width:55vw;
        height: 40vh;
        font-size:1.42em;
        top:530px;

    }

    .texto h2{
        color:#2c003b;
        font-size:2.1em;
        opacity:0.7;
        letter-spacing: 1.3px;
        margin-bottom:20px;
    }

    .texto2{
    display:none;
}
     
     }


