
 
.cardapio{
  display:flex;
flex-direction:column;
background-color:#6b1b6f;
width:100vw;
height:auto;
}

 
.fundo{
 position:relative;
 height:210vh;
 width:100vw;
 z-index:2;
  box-shadow: 1px 1px 10px 5px #2c003b;
  

  }

  .div-cardapio{
  position:absolute;
  z-index:6;
  height:200vh;
  width:100vw;
  display:flex;
  flex-direction:column;
  align-items:center;
  top:10vh;
 

  
  }

  .logo-cardapio
{
  width: 350px;
  height: 195px;
  
  
}

.close
{
 font-size: 4em;
  position: absolute;
  right:20vw;
  top:2vh;
  color:white;
  
}
.copos
{
  
  margin-left:2vw;
  color: white;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4em;
  width:100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  margin-bottom:60px;
  margin-top:25px;
  
}

.img-copos-1
{
  width:80px;
  height: 80px;


}

.img-copos-2
{
  width:90px;
  height: 90px;


}

.img-copos-3
{
  width:100px;
  height: 100px;
  

}

.img-copos
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(107, 27, 111);
  width: 60vw;
  height: 9vh;
  border-radius: 25px;
  transition:0.4s;
}

.img-copos:hover
{
  width: 65vw;
  height: 8vh;
  border-radius:30px;
}

.img-copos-preco
{
  width:15vw;
  height: 8vh;
  background-color: #ffde59;
  border-radius: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  color: rgb(107, 27, 111);
  font-size: 1.5em;
  
  
}


.acompanhamentos
{
  font-size:1.6em;
  width: 60vw;
  height:auto;
  border-radius:2px;
  text-align: start;
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  border: 1px solid white;
  padding: 5px 5px 5px 5px;
  background-color:transparent;
  color:white;
  margin-bottom:10px;
  padding-left:30px;
  align-items:start;
  
}


.acompanhamentos-1
{

  width: 50%;
  height:auto;
  text-align: start;
  display: flex;
  justify-content:space-around;
  flex-direction:column;
}
  .acompanhamentos-2
{

  width: 50%;
  height:auto;

  text-align: start;
  display: flex;
  justify-content:space-around;
  flex-direction:column;
}


.adicional-text{

font-size:1.5em;
font-weight:700;
margin-left:13vw;
border-radius:20px;
display: flex;
justify-content: center;
align-items: center;

}

.list{

margin-top:15px;
margin-bottom:10px;
text-align:start;
font-size:1.4em;
}

.list-item{
list-style-type:disc;
list-style-position:inside;
line-height:1.3em;
}






.button-pedido
{
 
  color:white;
  font-size: 2.8em;
  background-color: green;
  border-radius:10px;
  width: 45vw;
  height: 10vh;
  animation: pedido 2s ease-in-out infinite;
  z-index:4;
  cursor:pointer;
  margin-top:30px;
  
}

.acompanhamentos h2{
margin-top:25px;

}

.divisoria{
width:1.1px;
height:85vh;
background-color:white;
margin-right:30px;
}


@keyframes pedido{
  0%,100%{
      
      scale: 100%;
      
  }
  50%{
    
    scale:90%;
  
  }
}

 #contatos-localizacao-footer{
  display:none;

  }
  


  @media (max-width:600px){

  .cardapio{
    overflow-x: hidden;
  }
  
.acompanhamentos
{
  font-size:1.3em;
  width: 90vw;
  flex-direction:column;

  
}

.acompanhamentos-1{
width:100%;
}

.acompanhamentos-2{
width:100%;
}

.divisoria{
display:none;

}

.acompanhamentos h2{
margin-top:15px;
}

.fundo{
 position:relative;
 height:248vh;
 width:100vw;
 
 
}

.adicional-text{
  
font-size:1.3em;
margin-left:40vw;
}

.img-copos
{
  width: 90vw;
  margin-top: 40px;
  font-size: 0.9em;
  height: 8vh;
 
}

.img-copos:hover
{
  width: 88vw;
  height: 8vh;
  
}

.copos{
  display: flex;
  
}

.img-copos-preco
{
  width: 22vw;
  margin-left: 10px;
  
}

.button-pedido
{
 

  width: 55vw;
  height: 9vh;

  
}
.logo-cardapio
{
  width: 280px;
  height: 155px;
  margin-top: 20px;
  
  
}

.adicional-text{

  font-size:1.5em;
  margin-left:33vw;

  
  }


  .list{

    margin-top:10px;
    margin-bottom:7px;
    text-align:start;
    font-size:1.4em;
    }

    .acompanhamentos
{
  font-size:1.6em;
 

  
}


}




